@page
@model IngredientSelectorModel
@{
}

<h2>Vælg en madvare</h2>

<form method="post">
    <div class="pre-scrollable">
        <table id="eventsTable" class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th style="text-align:center">Energi (kJ)</th>
                    <th style="text-align:center">Energi (kcal)</th>
                    <th style="text-align:center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var food in Model.Foods)
            {
                    <tr>
                        <td>@food.Name</td>
                        <td style="text-align:center">@food.EnergiKj</td>
                        <td style="text-align:center">@food.EnergiKcal</td>
                        @*<td style="text-align:center"><button class="btn btn-primary" asp-page-handler="FoodSelected" asp-route-id="@food.Id">Vælg</button></td>*@
                        <td style="text-align:center"><a class="btn btn-primary" asp-page="./IngredientForm" asp-route-id="@food.Id">Vælg</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>

<style>
    .pre-scrollable {
        max-height: 700px;
    }

    .table-hover tbody tr:hover td {
        background-color: lightblue;
    }   
    
    h2 {
        margin-bottom:30px;
    }
</style>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    //$(document).ready(function () {

    //    $(".table .btn").click(function (e) {
    //        e.preventDefault();
    //        var id = $(this).attr('id');
    //        alert(id);
    //    });
    //});

</script>
